<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mytab">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeNewsActivity"
            android:label="@string/messageTitle">
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="changenews.intent.action.CHANGE" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".NewsDetialActivity">
            <intent-filter>
                <action android:name="changenews.intent.action.NewsDetialActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>